:root {
  /* TYPOGRAPHY */
  --typeface-body: "Helvetica Neue", Arial, sans-serif;

  /* COLORS */
  --white: hsl(100deg, 0%, 100%);
  --gray-50: hsl(100deg, 2%, 94%);
  --gray-100: hsl(100deg, 2%, 92%);
  --gray-150: hsl(100deg, 2%, 89%);
  --gray-200: hsl(100deg, 2%, 85%);
  --gray-300: hsl(100deg, 2%, 75%);
  --gray-500: hsl(100deg, 2%, 60%);
  --gray-600: hsl(100deg, 2%, 50%);
  --gray-700: hsl(100deg, 2%, 40%);
  --gray-800: hsl(100deg, 2%, 30%);
  --black: hsl(100deg, 2%, 5%);

  --brand-100: hsl(86.3, 44.4%, 92.9%);
  --brand-800: hsl(109deg, 70%, 30%);
  --brand-500: hsl(109, 87%, 68%);

  /* SPACING */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;

  /* SHADOWS */

  --shadow-color: 157deg 5% 20%;
  --shadow-elevation-low: 0px 0.3px 0.4px hsl(var(--shadow-color) / 0.04),
    0px 0.5px 0.7px -0.3px hsl(var(--shadow-color) / 0.12),
    0px 0.9px 1.3px -0.5px hsl(var(--shadow-color) / 0.21);
  --shadow-elevation-medium: 0px 0.3px 0.4px hsl(var(--shadow-color) / 0.04),
    0px 1.1px 1.6px -0.2px hsl(var(--shadow-color) / 0.11),
    0.1px 2.3px 3.3px -0.4px hsl(var(--shadow-color) / 0.18),
    0.2px 4.7px 6.7px -0.5px hsl(var(--shadow-color) / 0.24);
  --shadow-elevation-high: 0px 0.3px 0.4px hsl(var(--shadow-color) / 0.04),
    0.1px 1.6px 2.3px -0.1px hsl(var(--shadow-color) / 0.07),
    0.1px 2.8px 4px -0.2px hsl(var(--shadow-color) / 0.1),
    0.1px 4.1px 5.8px -0.2px hsl(var(--shadow-color) / 0.13),
    0.2px 5.7px 8.1px -0.3px hsl(var(--shadow-color) / 0.16),
    0.3px 8.1px 11.5px -0.4px hsl(var(--shadow-color) / 0.19),
    0.4px 11.3px 16px -0.5px hsl(var(--shadow-color) / 0.23),
    0.5px 15.8px 22.4px -0.5px hsl(var(--shadow-color) / 0.26);

  /* ALIAS TOKENS */
  --text-light: var(--gray-100);
  --text-dark: var(--black);

  --background-page: var(--gray-100);
  --background-header: var(--gray-600);
}
