.card {
  padding: var(--spacing-m);
  padding-top: 0;

  background-color: var(--white);
  border-radius: var(--spacing-xs);
  box-shadow: var(--shadow-elevation-low);

  overflow: hidden;
}

.card-border {
  border: 1px solid var(--gray-100);
  padding: var(--spacing-m);
}
